@font-face {
  font-family: 'Futura-Thin';
  src:url('../fonts/Futura-Thin.ttf.woff') format('woff'),
  url('../fonts/Futura-Thin.ttf.svg#Futura-Thin') format('svg'),
  url('../fonts/Futura-Thin.ttf.eot'),
  url('../fonts/Futura-Thin.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5{
  font-family: 'Futura-Thin', 'Futura', Lucida Grande, Helvetica, Arial, sans-serif;
  color: "#222";
  font-weight: normal;
}

h1{
  font-size: 60px;
}

p{
  font-weight: lighter;
}

.container{
  max-width: 920px;
  margin: 0 auto;
}

.fullscreen-panel-wrapper{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: left 1s;
  -moz-transition: left 1s;
  -o-transition: left 1s;
  transition: left 1s;
}

.fullscreen-panel-content{
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.course-catalogue-panel{
  left: -100%;
}

.course-catalogue-panel.active-panel{
  left: 0%;
}

.course-catalogue-header{
  margin-top: 100px;
  text-align: center;
}

.course-filters{
  margin-bottom: 100px;
}

.filter-button{
  font-family: Arial;
  color: #222;
  font-size: 16px;
  padding: 8px 14px;
  text-decoration: none;
  outline: none;
  border: none;
  background-image: -webkit-linear-gradient(top, #ebebeb, #f2f2f2);
  background-image: -moz-linear-gradient(top, #ebebeb, #f2f2f2);
  background-image: -ms-linear-gradient(top, #ebebeb, #f2f2f2);
  background-image: -o-linear-gradient(top, #ebebeb, #f2f2f2);
  background-image: linear-gradient(to bottom, #ebebeb, #f2f2f2);
}

.filter-button.selected{
  color: #ffffff;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
}

.filter-button:hover{
  color: #ffffff;
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  border: none;
}

.course-item{
  position: relative;
  margin-bottom: 100px;
  background-color: #f1f1f1;
}

.course-tint{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #aecb36;
  opacity: 0;
}

.course-item:hover .course-tint{
  opacity: .5;
}

.course-item img{
  width: 100%;
}

.course-body{
  padding: 10px 15px;
  background-color: #f1f1f1;
}

.course-body h2{
  margin-top: 8px;
}

.instructor{
  color: #aecb36;
}

.course-details-panel{
  left: 100%;
}

.course-details-panel.active-panel{
  left: 0%;
}

.course-details-container{
  padding: 10px 15px;
  background-color: rgba(255,255,255,0.7);
}

img.course-details-background{
  -webkit-filter: blur(0);
  filter: blur(0);
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  z-index: -1;
  transition: all 1.1s;
  transition-delay: 0s;
}

.course-details-panel .fullscreen-panel-content{
  opacity: 0;
}

.course-details-panel.active-panel .fullscreen-panel-content{
  opacity: 1;
  transition: opacity 2s;
  transition-delay: 2s;
}

.course-details-panel.active-panel img.course-details-background{
  -webkit-filter: blur(15px);
  -filter: blur(15px);
  top: -1%;
  left: -1%;
  min-height: 102%;
  min-width: 102%;
  transition: all 1.5s;
  transition-delay: 2s;
}

.course-details-instructor img{
  width: 300px;
  max-width: 90%;
}

.course-details-section{
  margin-bottom: 30px;
  padding: 10px 15px;
  background-color: #f1f1f1;
}

.center-button-wrapper{
  text-align: center;
  margin: 2em 0;
}

/*******************************/
/*     LARGE SCREENS ONLY     */
/*****************************/


@media screen and (min-width: 768px) {
.course-item{
  height: 280px;
}

.course-item img{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  max-width: 100%;
  width: auto;
}

.course-body{
  position: absolute;
  top: 9px;
  left: 42%;
  min-height: 242px;
  width: 54%;
  background-color: rgba(255,255,255,0.7);
}
}
