@font-face {
  font-family: 'Futura-Thin';
  src:url('../fonts/Futura-Thin.ttf.woff') format('woff'),
  url('../fonts/Futura-Thin.ttf.svg#Futura-Thin') format('svg'),
  url('../fonts/Futura-Thin.ttf.eot'),
  url('../fonts/Futura-Thin.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5{
  font-family: 'Futura-Thin', 'Futura', Lucida Grande, Helvetica, Arial, sans-serif;
  color: "#222";
  font-weight: normal;
}

h1{
  font-size: 60px;
}

.container{
  max-width: 920px;
  margin: 0 auto;
}

.course-filters{
  margin-bottom: 100px;
}

.gray-bg{
  background-color: #f1f1f1;
}

.half-gray-bg{
  background-color: rgba(255,255,255,0.7);
}

.flatbutton{
  font-family: Arial;
  color: #222;
  font-size: 16px;
  padding: 8px 14px;
  text-decoration: none;
  outline: none;
  border: none;
  background-image: -webkit-linear-gradient(top, #ebebeb, #f2f2f2);
  background-image: -moz-linear-gradient(top, #ebebeb, #f2f2f2);
  background-image: -ms-linear-gradient(top, #ebebeb, #f2f2f2);
  background-image: -o-linear-gradient(top, #ebebeb, #f2f2f2);
  background-image: linear-gradient(to bottom, #ebebeb, #f2f2f2);
}

.flatbutton.selected{
  color: #ffffff;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
}

.flatbutton:hover{
  color: #ffffff;
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  border: none;
}

.course-item{
  margin-bottom: 100px;
  position: relative;
  height: 280px;
}

.course-item img{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.course-body{
  padding: 15px;
  position: absolute;
  top: 10px;
  left: 42%;
  width: 54%;
}

.course-body h2{
  margin-top: 8px;
}

.instructor{
  color: #aecb36;
}
